{% extends 'base.html.twig' %}

{% block title %}Hello ReponseController!{% endblock %}
  {% block link %}  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .question{
        font-size:20px;
        font-weight:bold;

    }
    .lbReponse{
        color:green;
    }
    .reponse{
        color:green;
    }
    .mvReponse{
        color:red;
    }
    .score{
        float:right;
    }
    .scBR{
        color:green;
    }
    .scMV{
        color:#992C1C;
    }
    body{
      background-image: linear-gradient(to bottom, #beafc6, #bbb4c8, #bab8c9, #bbbcc9, #bdc0c8, #bec4cd, #bec8d3, #bdcdd7, #b6d4e0, #addce7, #a4e4e9, #9eece7);

    }
</style>

<div class="example-wrapper">
    <h1>{{nameCategorie}}</h1>
    {% set scoreBR = 0 %}
    {% set scoreMV = 0 %}
     {% for questions in questionQuizz %}
    <p class="question">{{questions.question}}</p>

     {% for reponseU in reponseUtilisateur %}
    
        {% if reponseU.id_question == questions.id %}
         {% if reponseU.reponse_expected == true %}
    <p class="reponse">Vous avez bien répondu: <mark class="lbReponse">{{reponseU.reponse}}</mark></p>
         {% set scoreBR = scoreBR + 1 %}
    {% endif %}
        {% if reponseU.reponse_expected == false %}
         <p class="mvReponse">Mauvaise réponse: {{reponseU.reponse}}</p>
         {% set scoreMV = scoreMV + 1 %}
              {% for reponses in reponsesQuizz %}
     {% if reponses.id_question == questions.id %}
        {% if reponses.reponse_expected == true %}
         <p class="reponse">La bonne réponse est: <mark class="lbReponse">{{reponses.reponse}}</mark></p>
        {% endif %}
             {% endif %}
    {% endfor %}
         {% endif %}
        {% endif %}
    {% endfor %}

    {% endfor %}

    <div class="score">
    <p class="scBR">Vous avez {{scoreBR}} bonnes réponses</p>
    <p class="scMV">Vous avez {{scoreMV}} mauvaises réponses</p>
    </div>


</div>


{% endblock %}
